<p id="notice"><%= notice %></p>


<h1>My Story</h1>
<br><% @story.parts.each do |p| %>
      <%= p.text %>
      <br>
      <%= image_tag(p.image.url) if p.image && p.image.url %>
      <br>
    <% end %>
<br>
<%= link_to 'Back', stories_path %>